section.container {
  color: $dark;
  display: flex;
  flex-wrap: wrap;
  &.container_shadow {
    padding: 1rem 1.5rem;
    margin: 1rem 10% 3rem;
    border: 1px solid $light_gray;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
  }
  &.station_container {
    padding: 2rem;
    width: 40%;
    min-height: 80vh;
  }
  form.section_form {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      label.label {
        width: 100px;
        margin: 0.5rem 0;
      }
      select {
        cursor: pointer;
        flex: 1 1 100%;
        max-width: 350px;
      }
      input {
        width: 100%;
        flex: 1 1 100%;
        max-width: 350px;
      }
      button {
        flex: 0 1 120px;
        margin: 1rem auto;
        cursor: pointer;
        border: none;
        background-color: $green;
        color: #fff;
        height: 40px;
        border-radius: 10px;
      }
    }
  }
  div.section_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    div.card {
      flex: 1 1 30%; // 剩餘寬度200px就不會換行
      max-width: 30%;
      height: 140px;
      background: #ffffff;
      border: 1px solid $light_gray;
      box-sizing: border-box;
      border-radius: 25px;
      padding: 0.75rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h4 {
        font-size: 1rem;
      }
      p {
        color: $green;
        font-size: 0.75rem;
        svg {
          color: $yellow;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  div.section_cards {
    div.card {
      flex: 1 1 100%;
      min-width: 45%;
    }
  }
}
